@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --color-primary: 255 115 179;

    /* For hsl(198deg 93% 60% / <alpha-value>) */
    /* --linear: 198deg 93% 60%; */

    /* For rgba(255, 115, 179, <alpha-value>) */
    --linear: 90deg, #3D8BFF 0%, #AB23FF 100%;
  }
}

/* :root {
  --linear: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


html, body {
  height: 100%;
  margin: 0;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.border-gradient {
    background-image: linear-gradient(var(--linear));
    background-clip: border-box;
    -webkit-background-clip: border-box;
    border-color: transparent;
  }
